/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
  HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


body, div, main, section, article {
  box-sizing: border-box; 
}

/* universal background color */
body {
  background-color: #DA5437; 
}

header img {
  width: 400px;
  max-width: 100%;
}

.clear {
 clear: both; 
}

/* fonts & text colors*/
#showComic, header, #authorNotes {
  font-family: 'Cherry Cream Soda', cursive;
}
.archivePage {
  font-family: 'Cherry Cream Soda', cursive;
}

/* link colors */
a {
      color: #ffffff;
    }

a:hover {
      color: #000000;
    }

/* HEADER */
header #nav {
  background-color: #ffffff;
  outline: 3px solid #000000;
  font-size: 20px;
}

header #nav a {
  color: #000000;
}

header #nav a:hover {
  color: #DA5437;
}

/* HOMEPAGE */

/* style nav button images */
.comicNav {
  display:flex;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
}
.comicNav img {
  width: 80px;
  max-width: 100%;
  padding-right: 30px;
}

/* style comic page image */
.comicPage img {
  width: 900px;
  max-width: 100%;
}

/* style author notes */
#authorNotes {
  background-color:#ffffff;
  outline: 3px solid #000000;
  margin: auto;
  padding: 3px;
  padding-top: 0px;
  max-width: 900px;
}

/* ARCHIVE PAGE */

/* style table in which archive is displayed */
.archiveTable {
  margin-left: auto;
  margin-right: auto;
}

