//variables
$color-black: #000000;
$color-white: #ffffff;
$color-highlight: #ff0000;

//FONTS
//paragraph
p, li {
    font-size: 20px;
}

//header
h1, h2 {
    font-family: 'Limelight', cursive;
    color: $color-black;
}

h3, p, li, .btn {
    font-family: 'Old Standard TT', serif;
}

//BACKGROUND COLOR
body, .topButtons {
    background-color: $color-white;
}

//style list inside
ul {
    list-style-position: inside;
}
li{
    margin: 10px 0;
}

//image fit to screen
.imgFit {
    max-width: 98%;
    width: 900px;
}

//image fit to screen (smaller)
.imgFit2 {
    max-width: 98%;
    width: 400px;
}

.imgLink {
  transition: 0.2s;
}

.imgLink:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
} 

//links
a {
    color:$color-black;
}
a:hover {
    color: $color-highlight;
}


//button
.btn-outline-dark {
    border: 3px solid $color-black;
}

